@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playwrite+CU:wght@100..400&display=swap');

/* Declaring root variables for quicker styling */

:root {
    /* Fonts */
    --title: "Playwrite CU", sans-serif;
    --main-font: "Nanum Gothic", sans-serif;

    /* Colours */
    --background: #C94427;
    --off-white: #f6f6f6;
    --grey: #B9B9B9;
    --header: #60935B;

    /* Utilities */
    --small-box-shadow: 1px -1px 7px #00000061;
    --border: 1px solid #00000030;
    
}


html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {

    flex: 1 0 auto;
    background-color: var(--off-white);
}

/* Footer */
footer {
    
    flex-shrink: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-media-icon {
    height: 2.5rem;
    margin: 1.5rem;
}

.location-icon
{
    height: 1.3rem;
    margin: 1.5rem;
    align-self: baseline;
    display: inline;
    
}

.opening-icon{
    height: 1.3rem;
    margin: 1.5rem;
    align-self: baseline;
}


/* Header Styling */

.navbar {
    
    box-shadow: var(--small-box-shadow);
}

.navbar-brand {

    font-family: var(--title);    
}

.navbar-custom {
    background-color: var(--header);
}

a.nav-link {
    color: var(--grey)
}

.active{
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

.card {
    height: 90%;
    margin-top: 1rem;
}

.booking {

    text-decoration: none;
    color: var(--blue)
}

.bookings:hover{
    cursor: pointer;
}



