{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{%  block content %}

<section id="menu-outer">
    <div id="menu-image"></div>
        <div id="menu-text">
            <br>
        <h2>
            <a href="https://res.cloudinary.com/dbssvuxgq/image/upload/v1723650325/ginos-italian-menu_aqioi4.pdf" target="_blank" rel="noopener" style="color: whitesmoke;" class="menu_options">
                View our Menu
            </a>
        </h2>
    </div>

</section>  

{% endblock %}


