{% extends "base.html" %}

{% block title %}Your Bookings - Manage Your Reservations{% endblock %}

{% block content %}

<h1 class="text-center p-2">Your Booking Reservations</h1>
<br>
{% if bookings %}
    <div class="row">
        {% for booking in bookings %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Date: {{ booking.date }}</h5>
                    <p class="card-text">Booking Name: {{ booking.booking_name }}</p>
                    <p class="card-text">Time: {{ booking.time }}</p>
                    <p class="card-text">No. of people: {{ booking.number_of_people }}</p>
                </div>
                <a href="" class="btn btn-success">Edit Reservation</a>
                <br>
                <a href="" class="btn btn-success">Delete Reservation</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>You have no bookings.</p>

{% endif %}

{% endblock %}