{% extends "base.html" %}

{% block title %}Bookings{% endblock %}

{%  block content %}

<h1 class="text-center p-2">
        
    Bookings

    </h1>

    {% for reservation in bookings %}

    <a href="" class="reservation" aria="Click to view {{reservation.title}}"></a>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">{{reservation.reservation_date}}</h2>
          <p class="card-text">{{reservation.time}}</p>
          
        </div>
      </div>
    

    {% endfor %}


{% endblock %}