{% load static %}

<footer>

    <!--Restaurant Location -->
    <a href="" target="_blank" rel="noopener" arial-label="Google Map - Opens in a new tab" >
        <img src="{% static 'icons/google-map-icon.svg' %}" alt="Google Map Icon" class="location-icon">123 Main Street, Carlow, Co Carlow R93 P4D4, Ireland
    </a>

    <!--Social media icons -->
    <a href="" target="_blank" rel="noopener" arial-label="Instagram - Opens in a new tab">
        <img src="{% static 'icons/black-instagram-icon.svg' %}" alt="Instagram Icon" class="social-media-icon">
    </a>

    <a href="" target="_blank" rel="noopener" arial-label="Facebook - in a new tab">
        <img src="{% static 'icons/thumbs-up-line-icon.svg' %}" alt="Facebook Icon" class="social-media-icon">
    </a>

    <a href="" target="_blank" rel="noopener" arial-label="Tripadvisor - Opens in a new tab">
        <img src="{% static 'icons/tripadvisor-icon.svg' %}" alt="Instagram Icon" class="social-media-icon">
    </a>

    <!-- Opening Times -->
    <a href="" target="_blank" rel="noopener" arial-label="Clock icon. Opening Times - Wednesday to Sunday 5pm to 11pm Closed Monday and Tuesday">
        <img src="{% static 'icons/clock-icon.svg' %}" alt="Clock Icon" class="opening-icon">Opening Times - Wednesday to Sunday 5pm to 11pm Closed - Monday and Tuesday
    </a>

</footer>